.keyboard {
  width: 644px;
  height: 248px;
  background: #7a7a7a;
  font-size:16px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__line {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
  //arrow styles
  &__arrow-wrapper{
    display: flex;
    align-items: end;
  }
}
.key {
  display: block;
  margin: 2px;
  // padding:5px; 
  background: #d9d9d9;
  border-radius: 5px;
  // button sizes
  &_lower {
    width: 40px;
    height: 20px;
    align-self: flex-end;
  }
  &_active{
    background-color: red;
  }
  // &_up{
  //   // display: inline;
  //   width: 40px;
  //   height: 20px;
  //   align-self: flex-start;
  // }
  // &_down{
  //   width: 40px;
  //   height: 20px;
  //   align-self: flex-end;
  // }
  &_esc{
    width: 64px;
height: 20px;
  }
  &_s{
    width: 40px;
height: 40px;
  }
  &_m{
    width: 54px;
height: 40px;
  }
  &_l{
    width: 64px;
height: 40px;
  }
  &_xl{
    width: 74px;
height: 40px;
  }
  &_xxl{
    width: 98px;
height: 40px;
  }
  &_xxxl{
    width: 216px;
height: 40px;
  }
//text align in buttons
  &_left{
    display: flex;
    justify-content: left;
    align-items: end;
    padding-left: 2px;
  }
  &_center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_right{
    display: flex;
    justify-content: right;
    align-items: end;
    padding-right: 2px;
  }
}
